.top-nav
    div.home-link
        a(href='/') Enter a different Twitter Handle
    div.app-icon
        a(href='/')
            h4(style='color: white; padding-top: 9px;') Your Top Trump Match
            //img(src='/images/logo-sm.svg')